<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>username / Repositories</title>
  </head>
  <body>
    <h1>Github Profile Finder</h1>
    <main>
      <aside class="profile-info">
        <%= @profile_info.user_info %>
      </aside>
      <article class="repos">
        <%= @repos.repo_names %>
      </article>
    </main>
  </body>
</html>
